.header {
    height: 90px;
    background-color: #2b2b2d;
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
    z-index: 100;
}

.container {
    width: 80%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

