.navMenu {
    width: 400px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    z-index: 100;
}

.link {
    text-decoration: none;
    font-weight: bold;
    margin: 0 2px;
    font-size: 1.5em;
    color: #ffffff;
}

.link:hover {
    cursor: pointer;
}

.navMenu > .active {
    color: #45f3ff;
    transition: 0.1s;
    transform: scale(1.1);
    text-decoration: underline;
}

@media (max-width: 580px) {
    .link {
        margin: 0;
        font-size: 1.55em;
    }
}