.navMenu {
    width: 400px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.link {
    text-decoration: none;
    font-weight: bold;
    color: black;
    margin: 0 2px;
}

.link:hover {
    color: red;
}