.main {
    height: 90vh;
    background-color: #ffc3f7;
    display: flex;
    justify-content: center;
}

.container {
    width: 80%;
    margin: 20px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.greeting {
    font-weight: bold;
    width: 400px;
    font-size: 1.5em;
}

.photo {
    width: 400px;
}



