.main {
    height: 90vh;
    background-color: #ffc3f7;
    display: flex;
    justify-content: center;
}

.container {
    border: 1px solid #000;
    width: 80%;
    margin: 70px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.greeting {
    display: flex;
    flex-direction: column;
    background-color: #a6a6a6;
    font-weight: bold;
    font-size: 1.2em;
}

.photo {
    width: 40%;
}
.photo img {
    width: 100%;
}


