.projects {
    min-height: 100vh;
    background-color: #1F1F20;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 0;
}

.container {
    width: 80%;
    display: flex;
    flex-direction: column;
}

.allProjects {
    display: flex;
    justify-content: center;
    padding: 10px 0;
    margin: 30px 0;
    flex-wrap: wrap;
    font: 700 40px/1.2 'Josefin Sans', sans-serif;
}

.allProjects:hover {
    color: #45f3ff;
}

.myProjects {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: auto;
}

.item {
    width: 470px;
    margin: 20px 0;
}

.logoItem {
    width: 405px;
    height: 195px;
    background-repeat: no-repeat;
    background-size: 100%;
    margin: 0 auto;
    transition: 1s;
    border: #45f3ff solid 1px;
    border-radius: 15px;
}

.logoItem:hover {
    transform: scale(1.05);
}

.logoPortfolio {
    background-image: url("../assets/images/portfolio.png");
}

.logoToDoList {
    background-image: url("../assets/images/toDoList.png");
}

.logoCounter {
    background-image: url("../assets/images/counter.png");
}

.logoDogGame {
    background-image: url("../assets/images/dogGame.png");
}

.tittleItem {
    margin: 10px 0;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.5em;
    font-family: 'Josefin Sans', sans-serif;
    color: #45f3ff;
}
.tittleItem:hover {
    color: #fff;
}

.textItem {
    margin: 10px 0;
}

.linkItem {
    margin: 10px 0;
}

.linkItem a {
    color: #45f3ff;
    text-transform: uppercase;
    text-decoration: underline;
}

.linkItem a:hover {
    color: #ffffff;
}

@media (max-width: 986px) {
    .item {
        width: auto;
    }
}

@media screen and (max-width: 1024px) {
    .Skills_description__125li {
        justify-content: center;
    }
}

@media (max-width: 1310px) {
    .myProjects {
        justify-content: center;
    }
    .item {
        width: 800px;
    }
    .Projects_logoItem__3dALu {
        width: 500px;
        height: 245px;
    }
}

@media (max-width: 1310px) {
    .myProjects {
        justify-content: center;
    }
    .item {
        width: 800px;
    }
    .Projects_logoItem__3dALu {
        width: 500px;
        height: 245px;
    }
}

@media (max-width: 626px) {
    .logoItem {
        width: 365px;
        height: 180px;
    }
}
