.item {
    width: 470px;
    margin-bottom: 70px;
    position: relative;
}

.logoItem img {
    width: 405px;
    height: 195px;
    background-repeat: no-repeat;
    background-size: 100%;
    margin: 0 auto;
    transition: 1s;
    border: #45f3ff solid 1px;
    border-radius: 15px;
}

.logoItem img:hover {
    transform: scale(1.025);
}

.tittleItem {
    margin: 10px 0;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.5em;
    font-family: 'Josefin Sans', sans-serif;
    color: #45f3ff;
    letter-spacing: 1px;
}

.textItem {
    margin: 10px 0;
}

.linkItem {
    margin: 10px 0;
}

.linkItem a {
    color: #45f3ff;
    text-transform: uppercase;
    text-decoration: underline;
}

.linkItem a:hover {
    color: #ffffff;
}

/*@media (max-width: 986px) {*/
/*    .item {*/
/*        width: auto;*/
/*    }*/
/*}*/

@media (max-width: 1308px) {
    .logoItem img {
        width: 90%;
        height: 90%;
    }
    .item {
        width: auto;
    }
}

@media (max-width: 580px) {
    .item {
        margin-bottom: 40px;
    }
}

