.skill {
    width: 330px;
    margin-bottom: 70px;
    position: relative;
}

.tittleItem {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.5em;
    margin: 10px 0;
    color: #45f3ff;
}

.textItem {
    margin: 5px;
}

.logo img {
    width: 80px;
    height: 80px;
    background-repeat: no-repeat;
    background-size: 100%;
    margin: 0 auto;
    transition: 1s;
}

.logo img:hover {
    transform: scale(1.15) rotate(360deg);
}

@media screen and (max-width: 986px) {
    .item {
        width: auto;
    }
}