.slogan {
    min-height: 50vh;
    background-color: #252527;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.sloganContainer {
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    margin: 30px 0;
}

.sloganText {
    width: 70%;
    text-align: center;
    margin: 50px 0;
    color: #fff;
    text-transform: capitalize;
    font: 500 40px/1.2 'Josefin Sans', sans-serif;
}

@media (max-width: 580px) {
    .sloganText {
        width: 80%;
        margin: 30px 0;
    }
}