.footer {
    min-height: 30vh;
    background-color: #ffc3f7;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footerContainer {
    width: 80%;
    flex-direction: column;
    display: flex;
    align-items: center;
    align-content: flex-start;
}

.footerText {
    text-align: center;
    font-weight: bold;
}

.footerSocial {
    margin: 20px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 250px;
    align-items: center;
}

.socialItem {
    padding: 20px;
    width: 10px;
    background-color: #2f7b6a;
    flex-wrap: wrap;
    display: flex;
}

.socialItem a {
    text-decoration: none;
}

.footerCopyright {
    text-align: center;
    font-weight: bold;
}


